*{
    margin: 0;
    padding: 0;
    border-style: none;
    list-style: none;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url("../assets/img/bg-hogwarts.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-x: center;
    font-family: Jura;
    font-size: 1.4em;
    margin: auto;
    width: 100vw;
    text-align: center;    
}

#logotype{
    width: 30vw;
    margin-top: 2%;
}

#HP_movie_list{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 4%;
}

.card_container {
    width: 25vw;
    height: 100vh;
    border-radius: 7px;
    overflow: hidden;
    background-color: white;
    z-index: -1;
    margin-bottom: 2%;
}

.card_container img {
    height: 70vh;
    z-index: -1;
}

#ft img {
    transform: translate(0px, 30%);
}

#sd img {
    transform: translate(-50px, 0%);
}

#tr img {
    transform: translate(-265px, 0%);
}

#fr img {
    transform: translate(-250px, 0%);
}

#ft img {
    transform: translate(-110px, 0%);
}

#st img {
    transform: translate(-10px, 0%);
}

#sv img {
    transform: translate(-190px, 0%);
}

#eg img {
    transform: translate(-200px, -20%)scale(1.4);
    
}



.card_container h1 {
    font-size: 1.2em;
    color: rgb(90, 90, 90);
    margin-bottom:2%;
    padding:5%;
    padding-bottom: 2%;
}

.card_container p {
    font-size: 1em;
    color: rgb(107, 107, 107);
}

table {
    padding: 2vw;
}

ul {
    display:flex;
    justify-content: center;
    text-align: center;
}

.hhimage {
    width:13vw;
    height:34vh;
    margin-bottom: 4%;
   
}

li {
    overflow:hidden;
    display:flex;
    color:white;
    text-shadow:  1px 2px #292929;
    font-size: 1.4em;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin:2%;

}

#users_information {
    margin: auto;
    display: flex;
    justify-content: center;
}

table *  {
    background-color: rgba(255, 255, 255, 0.425);
    padding:1.4vw;
    width:10vw;
}

footer {
    padding:2vw;
    margin-top: 8vw;
}
